<!doctype html>
<html>
  <head>
    <title>Crowdsource It</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
   <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h3 class="center">Survey Question:</h3>
    <h4 class="center"><%= survey.surveyQuestion %></h4>
    <h5 id="user-vote" class="center"></h5>
    <h4 id='survey-inactivated' class='center'>Sorry, this survey has been closed.</h4>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
