<!doctype html>
<html>
  <head>
    <title>Crowdsource It</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
   <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    Here is your magical surve
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
