<!doctype html>
<html>
  <head>
    <title>Crowdsource It</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
   <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h3 class="center">Survey Question:</h3>
    <h4 class="center"><%= survey.surveyQuestion %></h4>
    <div id="choices" class='center'>
      <% for (var response in survey.surveyResponses) { %>
        <button class='response'><%= response %></button><br/>
      <% } %>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
